.Ai_modal{
    width: 420px;
    height: 600px;
    font-family: "Roboto", sans-serif;
    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 0px 0;
    display: grid;
    grid-template-rows: 65px auto 70px;
    position: fixed;
    bottom: 1px;
    right: 20px;
    z-index: 9999999999;
    background: white;

    
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.5s ease;
}
.Ai_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #122538 url(../image/nav_bg.png);
    padding: 10px 20px;
    border-radius: 15px 15px 0px 0;
}
.Ai_manager{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.Ai_manager_logo{
    width: 40px;
}
.Ai_call_logo{
    width: 25px;
    cursor: pointer;
}
.Ai_manager_name{
    color: #e2e2e2;
    margin-top: 7px;
    font-weight: 450;
}


.Ai_message_storage{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
    background: white;
}
.Ai_message{
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    font-weight: 420;
    padding: 10px 13px;
    gap: 3px;
}
.Ai_user_message{
    position: relative;
    left: 30%;
}
/* .Ai_user_message {
    align-items: end;
} */
.Ai_message_date{
    font-size: 12px;
    /* position: relative; */
    color: #00000096;
}
.Ai_message_date{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.message_user_name{
    font-size: 16px;
    font-weight: 500;
    color: black;
}


.Ai_panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #12253873;
}

#Ai_request_input{
    width: 80%;
    height: 50px;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
#Ai_send_btn{
    height: 35px;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Ai_response_cont{
    white-space: pre-wrap;
}
.Ai_send_btn{
    width: 50px;
}
.Ai_message_value{
    white-space: pre-wrap;
    overflow-wrap: break-word; /* Позволяет переносить длинные слова и ссылки */
    word-break: break-word;
}



.Ai_typing {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    height: 20px;
}

.Ai_typing span {
    width: 8px;
    height: 8px;
    background-color: #555;
    border-radius: 50%;

    animation: typingBounce 1s infinite ease-in-out;
}



/* задержка */
.Ai_typing span:nth-child(1) {
    animation-delay: 0s;
}

.Ai_typing span:nth-child(2) {
    animation-delay: 0.15s;
}

.Ai_typing span:nth-child(3) {
    animation-delay: 0.3s;
}



/* прыжок */
@keyframes typingBounce {

    0%,
    60%,
    100% {
        transform: translateY(0);
        opacity: 0.4;
    }

    30% {
        transform: translateY(-7px);
        opacity: 1;
    }
}



.Ai_message_loading{
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e8e8e8;

    border-radius: 10px;

    padding: 15px 13px;
}

.assistant_penel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 10px;
}
.assistant_btn{
    color: #dcdcdc;
    border: 1.5px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.message_notification::after {
    content: "";
    position: absolute;
    top: -7px;
    right: -7px;
    width: 15px;
    height: 15px;
    background-color: #3dc643;
    border-radius: 50%; /* обводка, чтобы красиво смотрелось */
}

.open_btn_message_notification::after{
    content: "";
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    background-color: #3dc643;
    border-radius: 50%;
}
.assistant_btn_active{
    color: #122538;
    background-color: #eaeaea;
    font-weight: 500;
}

#instructions_icon_Ai{
    width: 25px;
    cursor: pointer;
}
.assistant_btn:hover{
    color: #122538;
    background-color: #eaeaea;
    font-weight: 500;
    transition: all .3s;
}

.Ai_message_storage_manager{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
}

.Ai_file_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Ai_file_btn img{
    width: 28px;
}

#Ai_modal_open_btn.no-after-bg::after {
    background: #333333;
}

#Ai_modal_open_btn.no-after-bg_izomaxx::after {
    background: rgb(94 94 94);
}
.reminder_message_ai.hide-after::after {
    display: none !important;
}


#Ai_modal_open_btn.no-after-bg_stroytovary::after {
    background: #164449;
}