@media (max-width: 450px) {
    .Ai_modal{
        width: 100%;
        right: 0;
    }
    .instructions_container{
        width: 350px;
    }
    .instructions_block {
        padding: 10px;
    }
}