@media (max-width: 450px) {
    .Ai_modal{
        width: 100%;
        right: 0;
    }
    .instructions_container{
        width: 350px;
    }
    .instructions_block {
        padding: 10px;
    }
}
@media (max-width: 380px) {
    .Ai_nav{
        padding: 10px;
        justify-content: space-around;
    }
    .Ai_manager{
        width: 90%;
        justify-content: space-around;
    }
    .assistant_penel{
        margin-left: 0;
    }
    .Ai_manager_logo{
        display: none;
    }
    .assistant_penel{
        justify-content: space-around;
    }

    #Ai_modal_open_btn{
        width: 50px !important;
        height: 50px !important;
        bottom: 30px !important;
    }
    #Ai_modal_open_btn img {
        width: 32px !important;
    }
    .reminder_message_ai {
        width: 200px;
        height: 105px;
        font-size: 12px;
        bottom: 95px;
    }
    .reminder_message_btn{
        width: 23px;
        height: 23px;
    }
    .reminder_message_btn img {
        height: 13px;
        padding-left: 1px;
    }
    .reminder_message_ai p{
        line-height: 16px;
    }
    .Ai_modal_instructions{
        padding: 8px;
    }
    #Ai_form{
        margin-right: 10px;
    }
}