
    /* окно с инструкцие-объяснением */

.Ai_modal_instructions{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.471);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    z-index: 9999999999;
}
.instructions_container{
    width: 400px;
    /* height: 500px; */
    background-color: white;
    border-radius: 15px;
    position: relative;
}
#icon_close_modal_instructions{
    width: 35px;
    position: absolute;
    right: 10px;    
    top: 5px;
    cursor: pointer;
}
/* .instructions_block h2{
    margin-top: 5px;
} */
.instructions_block{
    padding: 10px 15px;

}
.instructions_nav{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #122538 url(../image/nav_bg.png);
    padding: 10px 20px;
    border-radius: 15px 15px 0px 0px;
}
.instruc_btn_box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.instructions_btn{
    color: #dcdcdc;
    border: 1.5px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.instructions_btn:hover{
    color: #122538;
    background-color: #eaeaea;
    font-weight: 500;
    transition: all .3s;
}
.instructions_btn_active{
    color: #122538;
    background-color: #eaeaea;
    font-weight: 500;
}
.display_none{
    display: none;
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid #ccc;       /* светлый круг */
  border-top: 3px solid grey; /* цветная часть */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* сама анимация */
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#Ai_modal_open_btn{
    width: 60px;
    height: 60px;
    right: 35px;
    position: fixed;
    bottom: 80px;
    background: #111;
    z-index: 99999999999;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    display: flex;
}

#Ai_modal_open_btn:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    border-radius: 10px;
}
#Ai_modal_open_btn:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #122538 url(../image/nav_bg.png);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.Ai_modal_active{
    opacity: 1;
    pointer-events: all;
}

.userImageChatContainer img{
    width: 100px;
}
.userImageChatContainer {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

#ai_chat_preview_box{
    position: absolute;
    bottom: 80px;
    right: 20px;
}

#ai_chat_preview{
    width: 100px;
}

/* #close_ai_chat_preview{
    width: 20px;
    position: absolute;
    top: -9px;
    right: -8px;
} */

#close_ai_chat_preview{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    right: -8px;
    background: #122538 url(../image/nav_bg.png);
    border-radius: 3px;
    cursor: pointer;
}

#close_ai_chat_preview::before,
#close_ai_chat_preview::after{
    content: '';
    width: 20px;
    height: 2px;
    background: white;  
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}

#close_ai_chat_preview::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

#close_ai_chat_preview::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}


.Ai_message_img_data{
    width: 26%;
    position: relative;
    left: 74%;
    background: white;
    padding: 5px;
    display: flex;
    align-items: end;
}


.Ai_meneger_response{
    font-style: italic;
    text-decoration: underline;
}


#Ai_form{
    width: 60%;
    position: absolute;
    bottom: 70px;
    right: 0px;
    min-height: 180px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #122538 url(../image/nav_bg.png);
}
.Ai_form_input{
    width: 100%;
}
.Ai_form_input input{
    width: 100%;
    height: 40px;
    padding-left: 8px;
    /* font-size: 16px; */
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
}

.Ai_form_input input::placeholder{
    color:white;
}

.ai_chat_file_item{
    padding: 10px 14px;
    background: #f1f1f1;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    max-width: 250px;
    word-break: break-word;
}

.userFileChatContainer{
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.userFileChatItem{
    padding: 10px 14px;
    background: #f1f1f1;
    border-radius: 10px;
    width: fit-content;
    max-width: 250px;
    word-break: break-word;
    cursor: pointer;
    color: #000;
}

.Ai_form h2{
    color: white;
    margin-bottom: 5px;
}
.Ai_form a{
    color: #4444ff;
    text-decoration: underline;
    font-size: 14px;
}

#AiInputUserPhone{
    margin-bottom: 10px;
}